.navigation {
  height: 30px;
  width: 300px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  position: sticky;
  bottom: 0;
  background-color: var(--color-primary);
}

.navigation__pagination {
  display: grid;
  place-items: center;
  color: var(--color-secondary);
}
